*{
    margin: 0;
    padding: 0;
}

#right-side-text{
    text-wrap: balance;
    display: flex;
    position: relative;
    top: 187px;
    font-size: xxx-large;
    left: 40px;
    font-family: sans-serif;
}

.right-side-paragraph{
    position: relative;
    top: 180px;
    color:green;
    font-family: cursive;
    left: 40px;
}

.left-side-text{
    font-size: 40px;
    font-family: system-ui;
    padding-left: 790px;
    position: relative;
    top: -150px;
}

.contact-us{
    width: 30%;
    border-radius: 5px;
    position: relative;
    left: 784px;
    top: -100px;
}
.contact-us label{
    position:absolute;
    left: 10px;
    color: #adadad;
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
}