body {
    margin: 0;
    padding: 0;
}

#right-side-text{
    text-wrap: balance;
    display: flex;
    position: absolute;
    top: 187px;
    font-size: xxx-large;
    left: 40px;
    font-family: sans-serif;
}

.right-side-paragraph{
    position: absolute;
    top: 360px;
    color:green;
    font-family: cursive;
    left: 40px;
}

.left-side-text{
    font-size: 24px; /* Reduced font size for smaller screens */
    font-family: system-ui;
    padding-left: 550px;
    margin-bottom: 20px;
}

.contact-us{
    width: 30%;
    border-radius: 5px;
    padding-left: 550px;
}

.contact-us label{
    color: #adadad;
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
}

/* Media query for smaller screens */
@media (max-width: 920px) {
    #right-side-text{
        display: flex;
        font-size: 10px;
        padding-top: 80px;
    }

    .right-side-paragraph{
        font-size: 6px;
        position: absolute;
    top: 300px;
    color:green;
    font-family: cursive;
    left: 40px;
    }

    .left-side-text{
        font-size: 10px; /* Reduced font size for smaller screens */
    font-family: system-ui;
    padding-left: 200px;
    margin-bottom: 20px;
    }

    .contact-us{
        width: 20%;
    border-radius: 5px;
    padding-left: 200px;
    }

    .contact-us label{
        color: #adadad;
    font-size: 10px;
    pointer-events: none;
    }
}