*{
    margin: 0;
    padding: 0;
}
.logo{
    font-family: cursive;
    color:rgb(128, 49, 128);
    font-size: x-large;
    margin:0;
}
a{
    text-transform: none;
    transition: 0.12s ease;
    color: #192943;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul li{
    margin: 0 0.75em 0 0.75em;
}

ul:hover a:hover{
    box-shadow: 0 2px 0 rgb(164, 233, 164);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.Pages {
    text-decoration: none;
    color: antiquewhite;
}


@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .no-link-style {
        margin-top: 10px;
    }
}
button:hover{
    background-color: rgb(216, 213, 213);
}
.no-link-style{
    display: flex;
    justify-content: flex-end;
    border-radius: 25px;
    border: 0;
    padding: 20px 18px;
    margin-left: 20px;
    background-color: rgb(180, 172, 172);
}
nav{
    display: flex;
    align-items: center;
    padding: 10px;
    list-style-type: none;
}


#right-side-text{
    text-wrap: balance;
    display: flex;
    position: relative;
    top: 187px;
    font-size: xxx-large;
    left: 40px;
    font-family: sans-serif;
}

.right-side-paragraph{
    position: relative;
    top: 180px;
    color:green;
    font-family: cursive;
    left: 40px;
}

.left-side-text{
    font-size: 40px;
    font-family: system-ui;
    padding-left: 790px;
    position: relative;
    top: -150px;
}

.contact-us{
    width: 30%;
    border-radius: 5px;
    position: relative;
    left: 784px;
    top: -100px;
}

.footer{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.right-side-footer{
    display: flex;
    justify-content: end;
    text-indent: 50px;
    padding-left: 6;
}

.right-side-footer:hover a:hover{
    color:burlywood;
}

.contact-us label{
    position:absolute;
    left: 10px;
    color: #adadad;
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
}