*{
    margin: 0;
    padding: 0;
}

.logo{
    font-family: cursive;
    color:blueviolet;
    font-size: x-large;
    padding-right: 300px;
}

a{
    text-transform: none;
    transition: 0.12s ease;
    color: #192943;
}

ul{
    list-style: none;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header ul li{
    margin: 0 0.75em 0 0.75em;
}

.header ul:hover a:hover{
    box-shadow: 0 2px 0 rgb(164, 233, 164);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-left: 5px;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px;
    list-style-type: none;
}
@media screen and (max-width: 992px){
    body{
        display: block;
        float: none;
    }
}
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
 .image{
    margin-right:150px;
    border-radius: 40px;
    width: 300px;
    height: 350px;
 }
 .basic-info{
    flex: 2;
 }
 .biography{
    display: flex;
    align-items: center;
    justify-content: center;
 }

  
 .songs{
    display: flex;
    flex-direction: column;
 }
 .songs p{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-size: 20px;
 }
 .footer{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.right-side-footer{
    display: flex;
    justify-content: end;
    text-indent: 50px;
    padding-left: 6;
}

.right-side-footer:hover a:hover{
    color:burlywood;
}

.info .left-info{
    text-align: left;
    padding: 0px 0px 0px 2%;
    border-bottom: 1px solid #eee;
    font-weight: 700;
}

.info li{
    list-style: none;
    width: 100%;
    width: 48%;
    float: left;
    height: 35px;
    line-height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info .right-info{
    text-align: right;
    padding: 0px 2% 0px 0px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.info{
    font-family: sans-serif;
}

.songs li{
    position: relative;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.songs{
    padding-left: 0;
    background: linear-gradient(to right, #FFFFFF, #E5E5E5);
}

.songs .all-li{
    width: 90%;
    color: #5C5C5C;
    margin:20px;
    line-height: 38px;
}

.name-of-song{
    color: #464343;
    font-size: large;
    font-weight: 600;
    padding-left: 10px;
}

.song-photo{
    float: left;
    margin-right: 5px;
    width: 60px;
    height: 40px;
}