*{
    margin: 0%;
    padding: 0%;
}

.background-color{
    background: linear-gradient(to right,black,gray);
    height: 1100px;
}

#background-image{
    display: flex;
    width: 50%;
    position: relative;
    left: 50%;
    top: 60px;
}

.music-library{
    padding: 15px;
    border-radius: 20px;
    background: transparent;
    border-color: aliceblue;
    border-style: double;
    border-width: thin;
    position: relative;
    top: -250px;
}

.sign-up{
    padding: 15px;
    border-radius: 20px;
    border-color: aliceblue;
    border-style: double;
    border-width: thin;
    position: relative;
    top: -250px;
    left: 20px;
}

#artist{
    display: flex;
    height: 280px;
    margin: 15px auto 0;
    width: 100%;
    transform: translateZ(0);
}

.img{
    font-family: math;
}

.round-img{
    position: relative;
    width: 250px; 
    height: 230px;
    border-radius: 50%;
   
    background-position: center;
    border: 3px solid #666;
    background-size: cover;
}

@media screen and(max-width:150%){
    #round-img:first-child{
    height: 262px!important;
    margin: 0 0 0 -131px;
    top: 10px!important;
    width: 262px!important;
    }

    .round-img:nth-child(2){
        width: 87px;
        height: 87px;
        top: 8.025405137689816px;
        left: 796.3849882723465px;
        position: absolute;
    }
}

#artist :first-child{
    height: 280px;
    left: 525px;
    top: 8px;
    width: 21%;
    position: absolute;
}

.main-text{
    padding-left: 80px;
}

.round-img:nth-child(2){
    width: 100px;
    height: 100px;
    top: 8.025405137689816px;
    left: 824.3849882723465px;
    position: absolute;
}

.round-img:nth-child(3){
    width: 83px;
    height: 83px;
    top: 224.459264993262124px;
    left: 816.0059417009455px;
    position: absolute;
} 

.round-img:nth-child(4){
    width: 98px;
    height: 98px;
    top: 128.16338555073412px;
    left: 852.68996269542px;
    position: absolute;
}

.round-img:nth-child(5){
    width: 75px;
    height: 75px;
    top: 64px;
    left: 951px;
    position: absolute;
}

.round-img:nth-child(6){
    width: 100px;
    height: 100px;
    top: 177px;
    left: 954px;
    position: absolute;
}

.round-img:nth-child(7){
    width: 100px;
    height: 100px;
    top: 213px;
    left: 1068px;
    position: absolute;
}

.round-img:nth-child(8){
    width: 66px;
    height: 66px;
    top: 110px;
    left: 1041px;
    position: absolute;
}

.round-img:nth-child(9){
    width: 85px;
    height: 85px;
    top: 3px;
    left: 1069px;
    position: absolute;
}

.round-img:nth-child(10){
    width: 95px;
    height: 95px;
    top: 121px;
    left: 73px;
    position: absolute;
}

.round-img:nth-child(11){
    width: 100px;
    height: 100px;
    top: 196px;
    left: 170px;
    position: absolute;
}

.round-img:nth-child(12){
    width: 95px;
    height: 95px;
    top: 35px;
    left: 154px;
    position: absolute;
}

.round-img:nth-child(13){
    width: 75px;
    height: 75px;
    top: 120px;
    left: 260px;
    position: absolute;
}

.round-img:nth-child(14){
    width: 95px;
    height: 95px;
    top: 17px;
    left: 299px;
    position: absolute;
}

.round-img:nth-child(15){
    width: 95px;
    height: 95px;
    top: 201px;
    left: 305px;
    position: absolute;
}

.round-img:nth-child(16){
    width: 60px;
    height: 60px;
    top: 230px;
    left: 466px;
    position: absolute;
}

.round-img:nth-child(17){
    width: 111px;
    height: 111px;
    top: 97px;
    left: 386px;
    position: absolute;
}

.round-img:nth-child(18){
    width: 69px;
    height: 69px;
    top: 9px;
    left: 451px;
    position: absolute;
}

.round-img:nth-child(19){
    width: 95px;
    height: 95px;
    top: 102px;
    left: 1127px;
    position: absolute;
}

.round-img:hover{
    transition: all .2s ease-in-out;
   border: 3px solid blue;
   
}
