
body{
    background: linear-gradient(to bottom,#192943,transparent);
}
.logo{
    font-family: cursive;
    color:lightcyan;
    font-size: x-large;
    padding-right: 300px;
}

a{
    text-transform: none;
    transition: 0.12s ease;
    color: #192943;
}


ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul li{
    margin: 0 0.75em 0 0.75em;
}

ul:hover a:hover{
    box-shadow: 0 2px 0 rgb(164, 233, 164);
}
@media screen and (max-width: 992px){
    body{
        display: block;
        float: none;
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pages{
    list-style: none;
    text-decoration: none;
}
.no-link-style{
    display: flex;
    justify-content: flex-end;
    border-radius: 25px;
    border: 0;
    padding: 20px 18px;
    margin-left: 20px;
    background-color: rgb(180, 172, 172);
}

.search-bar{
    background: rgb(192, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding:11px;
    height: 5%;
}

.search-bar input{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    width: 0;
    transition: 0.8s;
    outline: 0;
}

.search-bar:hover input{
    width: 200px;
}

.search-bar button{
    padding: 5px ;
    border: 0;
}

button:hover{
    background-color: rgb(216, 213, 213);
}

#scroll-text1{
    font-size: 80px;
    font-family:fantasy;
    color: #fff800;
    font-weight: 900;
}

#scroll-text2{
    font-size: 80px;
    font-family: fantasy;
    color: #ed0000;
    font-weight: 900;
}

#artist{
    display: flex;
    height: 280px;
    margin: 15px auto 0;
    width: 100%;
    transform: translateZ(0);
}

.img{
    font-family: math;
}
.footer{   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-side-footer{
    display: flex;
    justify-content: end;
    text-indent: 50px;
    padding-left: 6;
}

.right-side-footer:hover a:hover{
    color:burlywood;
}

nav{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.round-img{
    position: relative;
    width: 250px; 
    height: 230px;
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    border: 3px solid #666;
    background-size: cover;
}

@media screen and(max-width:150%){
    #round-img:first-child{
    height: 262px!important;
    margin: 0 0 0 -131px;
    top: 10px!important;
    width: 262px!important;
    }

    .round-img:nth-child(2){
        width: 87px;
        height: 87px;
        top: 8.025405137689816px;
        left: 796.3849882723465px;
        position: absolute;
    }
}

#artist :first-child{
    height: 300px;
    left: 525px;
    top: 8px;
    width: 300px;
    position: absolute;
}

.round-img:nth-child(2){
    width: 100px;
    height: 100px;
    top: 8.025405137689816px;
    left: 824.3849882723465px;
    position: absolute;
}

.round-img:nth-child(3){
    width: 83px;
    height: 83px;
    top: 224.459264993262124px;
    left: 816.0059417009455px;
    position: absolute;
} 

.round-img:nth-child(4){
    width: 98px;
    height: 98px;
    top: 128.16338555073412px;
    left: 852.68996269542px;
    position: absolute;
}

.round-img:nth-child(5){
    width: 75px;
    height: 75px;
    top: 64px;
    left: 951px;
    position: absolute;
}

.round-img:nth-child(6){
    width: 100px;
    height: 100px;
    top: 177px;
    left: 954px;
    position: absolute;
}

.round-img:nth-child(7){
    width: 100px;
    height: 100px;
    top: 213px;
    left: 1068px;
    position: absolute;
}

.round-img:nth-child(8){
    width: 66px;
    height: 66px;
    top: 110px;
    left: 1041px;
    position: absolute;
}

.round-img:nth-child(9){
    width: 85px;
    height: 85px;
    top: 3px;
    left: 1069px;
    position: absolute;
}

.round-img:nth-child(10){
    width: 95px;
    height: 95px;
    top: 121px;
    left: 73px;
    position: absolute;
}

.round-img:nth-child(11){
    width: 100px;
    height: 100px;
    top: 196px;
    left: 170px;
    position: absolute;
}

.round-img:nth-child(12){
    width: 95px;
    height: 95px;
    top: 35px;
    left: 154px;
    position: absolute;
}

.round-img:nth-child(13){
    width: 75px;
    height: 75px;
    top: 120px;
    left: 260px;
    position: absolute;
}

.round-img:nth-child(14){
    width: 95px;
    height: 95px;
    top: 17px;
    left: 299px;
    position: absolute;
}

.round-img:nth-child(15){
    width: 95px;
    height: 95px;
    top: 201px;
    left: 305px;
    position: absolute;
}

.round-img:nth-child(16){
    width: 60px;
    height: 60px;
    top: 230px;
    left: 466px;
    position: absolute;
}

.round-img:nth-child(17){
    width: 111px;
    height: 111px;
    top: 97px;
    left: 386px;
    position: absolute;
}

.round-img:nth-child(18){
    width: 69px;
    height: 69px;
    top: 9px;
    left: 451px;
    position: absolute;
}

.round-img:nth-child(19){
    width: 95px;
    height: 95px;
    top: 102px;
    left: 1127px;
    position: absolute;
}

.round-img:hover{
    transition: all .2s ease-in-out;
   border: 3px solid blue;
   
}
