*{
    margin: 0;
    padding: 0;
}
#name{
    font-size: 50px;
    font-family: var(--font-deezer,"Deezer","Arial",sans-serif);
    font-weight: bolder;
    letter-spacing: -5px;
    height: 40px;
}

.updates{
    font-family:sans-serif ;
    padding-top: 20px;
}

.contains{
    padding-left: 25px;
    padding-top: 20px;
}

.paragraphs{
     padding-left: 20px;
     font-family: system-ui;
     color: rgb(139, 136, 136);
     display: flex;
     font-size: larger;
}