*{
  margin:0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(../Images/bg.jpg);
  background-size: cover;
  background-position: center;
}
.container{
  position: relative ;
  width: 400px;
  background: white;
  padding: 60px 40px;
}
form{
   background-color: white;
}
h2{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.input-field , form .button{
  margin: 10px;
  position: relative;
  height: 50px;
  width:90%;
}
.input-field input{
  height: 100%;
  width: 90%;
  border: 1px  solid silver;
  padding-right: 10px;
  padding-left: 5px;
  margin-right: 20px;
  margin-left: 20px;
  outline: none;
  font-size: 19px;
  transition: .4s;
}
input:focus{
  border:1px solid #1DA1F2;
}
.input-field label{
  position: absolute;
  top:50%;
  left:15px;
  margin-left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: grey;
  font-size: 16px;
  transition: .4s;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #1DA1F2;
}
form .button{
  margin-top: 17px;
  overflow: hidden;
  z-index: 111;
}
.button .inner{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -1;
  transition: all .4s;
  background: -webkit-linear-gradient( right, #00dbde, #fc00ff ,#00dbde, #fc00ff);
}
.button:hover .inner{
  left: 0;
}
.button button{
  width: 90%;
  height: 100%;
  border:none;
  background: none;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}