* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(../Images/bg.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
}

.container {
  width: 30%; 
  max-width: 600px; 
  background: white;
  padding: 60px 40px;
  overflow: hidden; 
}
form{
   background-color: white;
}
h2{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.input-field , form .button{
  margin: 5px;
  position: relative;
  height: 50px;
  width:100%;
  margin-left: 0px !important;
  padding: 0px;
  margin-left: -1;
}
.input-field input{
  height: 100%;
  width: 100%;
  border: 1px  solid silver;
  outline: none;
  font-size: 19px;
  transition: .4s;
}
input:focus{
  border:1px solid #1DA1F2;
}
.input-field label{
  position: absolute;
  top:50%;
  left:15px;
  margin-left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: grey;
  font-size: 16px;
  transition: .4s;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #1DA1F2;
}
.remember{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0px;

}

form .button{
  margin-top: 17px;
  overflow: hidden;
  z-index: 111;
  padding-right: 20px;
}
.button .inner{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -1;
  transition: all .4s;
  background: -webkit-linear-gradient( right, #00dbde, #fc00ff ,#00dbde, #fc00ff);
}
.button:hover .inner{
  left: 0;
}
.button button{
  width: 90%;
  height: 100%;
  border:none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.container .option{
  font-size: 14px;
  text-align: center;
}
.container .facebook a,
.container .google a{
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  padding-right: 30px;
}
.container .facebook i,
.container .google i{
  padding-right: 20px;
  font-size: 16px;
}
.container .google a{
  background: wheat;
  margin: 20px 0 -15px 0;
}
.container .google a:hover{
  background: wheat;
  margin: 20px 0 -15px 0;
}
.container .facebook a{
  background: linear-gradient( to right,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 20px 0;
}
.container .facebook a:hover{
  background: linear-gradient( to left,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 20px 0;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}