.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.right-side-footer {
    display: flex;
    align-items: flex-start; 
    text-indent: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 10px; 
}

.right-side-footer a {
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 5px; 
}

.right-side-footer a:hover {
    color:black;
}

@media only screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
    }

    .right-side-footer {
        flex-direction: row;
        width: auto;
        align-items: center;
        margin-top: 0; 
    }

    .right-side-footer a {
        margin-right: 20px; 
        margin-bottom: 0; 
    }
    
    .right-side-footer a {
        font-size: 16px;
    }
}
@media only screen and (min-width: 200px) {
    .right-side-footer {
        align-items: center; 
        margin-top: 0;
    }

    .right-side-footer a {
        margin-bottom: 0; 
    }
}

.right-side-footer a {
    padding: 8px;
}