*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.section{
    background: url(../Images/music-sound-multimedia-player-concept.jpg) no-repeat left;
    background-size:50%;
    background-color: #fdfdfd;
    overflow: hidden;
}
.container{
    width: 50%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.container h1{
    margin-bottom:30px;
    font-size: 40px;
    font-weight: 900;
    color: brown;
}

.text{
    font: srgb(15, 15, 15);
    color:#1a1919;
    line-height: 30px;
     text-align: justify;
     margin-bottom: 40px;
}

@media screen and (max-width:1200px) {
    .container{
        padding: 80px;
    }
}

@media  screen and (max-width:1000px) {
    .section{
        background-size:100%;
        padding: 100px 40px;
    }
    .container{
        width:100%;
    }
}

@media  screen and (max-width:600px) {
    .section{
        padding: 0;
    }
    .container{
        padding:60px;
    }
}

