*{
    margin:0px;
    padding:0px;
}
.logo{
    font-family: cursive;
    color:rgb(128, 49, 128);
    font-size: x-large;
    margin:0;
}
a{
    text-transform: none;
    transition: 0.12s ease;
    color: #192943;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul li{
    margin: 0 0.75em 0 0.75em;
}

ul:hover a:hover{
    box-shadow: 0 2px 0 rgb(164, 233, 164);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.Pages {
    text-decoration: none;
    color: antiquewhite;
}


@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .no-link-style {
        margin-top: 10px;
    }
}
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .no-link-style {
        margin-top: 10px;
    }
}
button:hover{
    background-color: rgb(216, 213, 213);
}
.no-link-style{
    display: flex;
    justify-content: flex-end;
    border-radius: 25px;
    border: 0;
    padding: 20px 18px;
    margin-left: 20px;
    background-color: rgb(180, 172, 172);
}
nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 992px){
    body{
        display: block;
        float: none;
    }
}

.section{
    background: url(../Images/music-sound-multimedia-player-concept.jpg) no-repeat left;
    background-size:55%;
    background-color: #fdfdfd;
    overflow: hidden;
}
.container{
    width: 40%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.container h1{
    margin-bottom:30px;
    font-size: 40px;
    font-weight: 900;
    color: brown;
}

.text{
    font: srgb(15, 15, 15);
    color:#1a1919;
    line-height: 30px;
     text-align: justify;
     margin-bottom: 40px;
}

@media screen and (max-width:1200px) {
    .container{
        padding: 80px;
    }
}

@media  screen and (max-width:1000px) {
    .section{
        background-size:100%;
        padding: 100px 40px;
    }
    .container{
        width:100%;
    }
}

@media  screen and (max-width:600px) {
    .section{
        padding: 0;
    }
    .container{
        padding:60px;
    }
}
.footer{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.right-side-footer{
    display: flex;
    justify-content: end;
    text-indent: 50px;
    padding-left: 6;
}

.right-side-footer:hover a:hover{
    color:burlywood;
}
