a{
    text-transform: none;
    transition: 0.12s ease;
    color:blueviolet;
    text-decoration: none;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul li{
    margin: 0 0.75em 0 0.75em;
}

ul:hover a:hover{
    box-shadow: 0 2px 0 rgb(164, 233, 164);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    margin: 0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.Pages {
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .no-link-style {
        margin-top: 10px;
    }
}
.no-link-style:hover{
    background-color: rgb(216, 213, 213);
}
.no-link-style{
    display: flex;
    justify-content: flex-end;
    border-radius: 25px;
    border: 0;
    padding: 20px 18px;
    margin-left: 20px;
    background-color: rgb(180, 172, 172);
}
nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.hide{
    display:none;
}